<ion-card (click)="verDetalle(phone)">
  <ion-card-header>
    <ion-card-subtitle text-center>
      <ion-label>{{ phone.marca }}</ion-label>
    </ion-card-subtitle>
    <ion-card-title text-center>
      {{ phone.modelo }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <img [src]="phone.img[0] | imagen: phone._id | imageSanitazer" />

    <div class="espacioSuperiorItem" *ngIf="categoria === 'Top Cámara'">
      <rating
        [rate]="phone.valoraciones.avg_camara"
        readonly="true"
        size="default"
      >
      </rating>
    </div>
    <div class="espacioSuperiorItem" *ngIf="categoria === 'Top CPU'">
        <rating
          [rate]="phone.valoraciones.avg_cpu"
          readonly="true"
          size="default"
        >
        </rating>
      </div>
      <div class="espacioSuperiorItem" *ngIf="categoria === 'Top Pantalla'">
          <rating
            [rate]="phone.valoraciones.avg_pantalla"
            readonly="true"
            size="default"
          >
          </rating>
        </div>
        <div class="espacioSuperiorItem" *ngIf="categoria === 'Top Diseño'">
            <rating
              [rate]="phone.valoraciones.avg_aspecto"
              readonly="true"
              size="default"
            >
            </rating>
          </div>
          <div class="espacioSuperiorItem" *ngIf="categoria === 'Top Batería'">
              <rating
                [rate]="phone.valoraciones.avg_bateria"
                readonly="true"
                size="default"
              >
              </rating>
            </div>
  </ion-card-content>
</ion-card>
