<ion-toolbar color="dark">
    <ion-item
      slot="start"
      mode="md"
      lines="none"
      color="dark"
      routerLink="/main/tabs/tab1"
      routerDirection="root"
    >
      <ion-label>
        techbook
      </ion-label>
    </ion-item>

    <ion-buttons slot="end">
      <!--<ion-button *ngIf="" routerLink="/login" routerDirection="forward">
        <ion-icon ios="ios-contact" md="md-contact" slot="icon-only"></ion-icon>
      </ion-button>-->
      <ion-button (click)="logout()" color="danger"
        routerLink="/" routerDirection="root">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>