<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="regresar()">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="modalTitle">
      <ion-label text-align-center>{{ phone.marca }} {{phone.modelo}}</ion-label>
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
<ion-grid fixed>
  <form [formGroup]="formEmitirVoto">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Mensaje</ion-label>
            <ion-textarea formControlName="post" [(ngModel)]="newRating.post">
            </ion-textarea>
          </ion-item>
          <ion-item  *ngIf="!formEmitirVoto.get('post').valid  && (formEmitirVoto.get('post').dirty || submitAttempt)">
              <p class="error-comment">* Debes escribir comentario.</p>
          </ion-item>
            <ion-item>
                <ion-label>Me gusta</ion-label>
                <ion-checkbox formControlName="positivo" color="danger" [(ngModel)]="newRating.positivo" (onChangeHandler)="onChangeHandler($event)"
                [disabled]="newRating.negativo"></ion-checkbox>
              </ion-item>
            <ion-item >
              <ion-label>No me gusta</ion-label>
              <ion-checkbox formControlName="negativo"
              [disabled]="newRating.positivo"
               color="dark" [(ngModel)]="newRating.negativo" (onChangeHandler)="onChangeHandler($event)"></ion-checkbox>
            </ion-item>
          <ion-item-group>
            <ion-list-header>
              Diseño
            </ion-list-header>
            <ion-item>
              <rating
              formControlName="aspecto"
              [(ngModel)]="newRating.val_aspecto"
                readonly="false"
                size="default"
              >
              </rating>
            </ion-item>
            <ion-list-header>
              Bateria
            </ion-list-header>
            <ion-item>
              <rating
              formControlName="bateria"
              [(ngModel)]="newRating.val_bateria"
                readonly="false"
                size="default"
              >
              </rating>
            </ion-item>
            <ion-list-header>
              Cámara
            </ion-list-header>
            <ion-item>
              <rating
              formControlName="camara"
              [(ngModel)]="newRating.val_camara"
                readonly="false"
                size="default"
              >
              </rating>
            </ion-item>
            <ion-list-header>
              Procesador
            </ion-list-header>
            <ion-item>
              <rating
              formControlName="cpu"
              [(ngModel)]="newRating.val_cpu"
                readonly="false"
                size="default"
              >
              </rating>
            </ion-item>
            <ion-list-header>
              Pantalla
            </ion-list-header>
            <ion-item>
              <rating
              formControlName="pantalla"
                [(ngModel)]="newRating.val_pantalla"
                readonly="false"
                size="default"
              >
              </rating>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
          <ion-button *ngIf="newRating._id !== undefined" type="submit" (click)="updateVoto()" color="tertiary" shape="round" expand="block">
              Modificar
            </ion-button>
            <ion-button *ngIf="newRating._id === undefined" type="submit" (click)="emitirVoto()" color="tertiary" shape="round" expand="block">
                Votar
              </ion-button>
      </ion-col>
    </ion-row>
</form>
 
</ion-grid>

</ion-content>