<ion-header>
  <ion-toolbar>
   <!-- <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        <ion-label>Atrás</ion-label>
      </ion-button>
    </ion-buttons>-->
    <ion-title text-center>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="mainSlide" #slidePrincipal>
    <ion-slide>
      <form [formGroup]="formSignin">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img class="logo" src="/assets/logo2.png" />
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <img src="/assets/avatars/av-1.png" />
              </ion-col>
            </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input
                    formControlName="email"
                    [(ngModel)]="loginUser.email"
                    
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input
                    formControlName="password"
                    type="password"
                    [(ngModel)]="loginUser.password"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round" (click)="login()">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
       
        <!--Avatar selector -->
        <app-avatar-selector (avatarSeleccionado)="registerUser.avatar = $event"></app-avatar-selector>
        
        <form [formGroup]="formSignup">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input
                    formControlName="email"
                    [(ngModel)]="registerUser.email"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="email.invalid && (email.dirty || email.touched)">
                  <p class="error-comment" *ngIf="email.errors['email']">Debe ser un email válido</p>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Confirmar Email</ion-label>
                <ion-input
                  formControlName="emailConfirm"
                ></ion-input>
              </ion-item>
              <ion-item *ngIf="emailConfirm.invalid && (emailConfirm.dirty || emailConfirm.touched)">
                <p class="error-comment" *ngIf="emailConfirm.errors['required']"> Confirmar email es obligatorio</p>
                <p class="error-comment" *ngIf="emailConfirm.errors['MatchPassword']">Los emails no coinciden</p>
                <p class="error-comment" *ngIf="emailConfirm.errors['email']">Debe ser un email válido</p>
            </ion-item>
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input
                    formControlName="nombre"
                    type="text"
                    [(ngModel)]="registerUser.nombre"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <p class="error-comment">Introduzca un nombre correcto</p>
              </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input
                    formControlName="password"
                    type="password"
                    [(ngModel)]="registerUser.password"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="password.invalid && (password.dirty || password.touched)">
                  <p class="error-comment">Introduzca una contraseña</p>
              </ion-item>
                <ion-item>
                  <ion-label position="floating">Confirma Password</ion-label>
                  <ion-input
                    formControlName="passwordConfirm"
                    id="passwordConfirm"
                    type="password"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched)">
                  <p class="error-comment">Las contraseñas no coinciden</p>
              </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="formSignup.invalid" color="tertiary" shape="round" (click)="registro()">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="mostrarRegistro()"
        >
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="mostrarLogin()"
        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
