<ion-grid fixed>
  <ion-row>
    <ion-col
      size="12"
      size-lg="3"
      size-md="4"
      size-sm="6"
      size-xs="12"
      *ngFor="let phone of phones; let i = index"
    >
      <app-phone-card 
      *ngIf="categoria === 'Novedades' || categoria === 'Top Likes' || categoria === 'Top Dislikes' "
      [phone]="phone"></app-phone-card>

      <app-top-ratings 
      *ngIf="categoria === 'Top Camara' || categoria === 'Top CPU'  || categoria === 'Top Pantalla' || categoria === 'Top Diseño' || categoria === 'Top Procesador' "
      [phone]="phone"></app-top-ratings >
    </ion-col>
  </ion-row>
</ion-grid>
