<ion-header no-border>
  <app-header></app-header>
  <ion-segment
    scrollable
    mode="md"
    color="primary"
    (ionChange)="cambioCategoria($event)"
  >
    <ion-segment-button
      mode="md"
      *ngFor="let categoria of categorias"
      [value]="categoria"
    >
      <ion-label text-capitalize>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <!-- Refresher -->
  <ion-refresher
    slot="fixed"
    [disabled]="!refresh"
    (ionRefresh)="recargar($event )"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-phone-grid [segment]="segment" [phones]="phones"></app-phone-grid>

  <!-- Infinite Scroll-->
  <ion-infinite-scroll
    threshold="150px"
    (ionInfinite)="loadData($event)"
  >
  <ion-infinite-scroll-content color="light" loadingSpinner="crescent" loadingText="Cargando data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
